.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db
Desktop.ini

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.swp
*.swo

data/
data_final/
images/